h1 {
  padding-bottom: 2vh;
}

p {
  font-size: 1.125rem;
  margin: 0;
}

.choices {
  cursor: pointer;
  padding: 20px;
}

.choices:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.-no-hover:hover {
  background-color: initial;
  cursor: initial;
}

.-correct {
  border: 3px rgb(97, 255, 150) solid;
  border-radius: 4px;
  box-sizing: border-box;
}

.-incorrect {
  border: 3px rgb(255, 97, 97) solid;
  border-radius: 4px;
  box-sizing: border-box;
}
