.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #161b24;
}

.Content {
  max-width: 75vw;
}

h1 {
  font-size: 1.5rem;
}

.Timer {
  position: absolute;
  top: 0;
  left: 0;
}
