.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #161b24;
}

.Content {
  max-width: 60vw;
}

h1 {
  font-size: 1.5rem;
}

.Timer {
  position: absolute;
  top: 0;
  left: 0;
}

.QuestionInput {
  width: 35px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.125rem;
  text-align: right;
  padding-right: 5px;
}

.QuestionBtnContainer {
  padding-top: 20px;
}

.QuestionBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  margin: 0px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.QuestionBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.-highlight {
  border: 1px solid transparent;
  background-color: rgb(0, 153, 255);
}

.-highlight:hover {
  background-color: rgb(0, 153, 255);
}
